<div class='entry <%= odd ? "odd" : "" %>'>
  <% if entry.image %>
    <span class='svg_image'>
      <span class='svg'>
        <img src='<%= entry.image.url %>' type='image/svg' alt='<%= entry.image.name %>' />
      </span>
    </span>
  <% end %>
  <p class='hanging-indent'>
  <span class='writing'>
    <ruby><rb><%= entry.writing %></rb><rp> (</rp><rt><%= entry.kana %></rt><rp> )</rp></ruby>
  </span>
  <span class="romaji">
    <%= entry.romaji %>
  </span>
  </p>
  <% if entry.textbox_de %>
    <p class="def_de">
      ✦ <%= entry.definition_de %>
      <button type="button" class="<%= odd ? "btn-odd" : "" %> btn btn-default btn-sm" data-toggle="modal" data-target="#entry<%= entry.id %>_textbox_de">
        <i class="fa fa-book"></i>
        mehr lesen
      </button>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="entry<%= entry.id %>_textbox_de" tabindex="-1" role="dialog" aria-labelledby="entry<%= entry.id%>_textbox_de_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="entry<%= entry.id%>_textbox_de_label">
              <%= entry.romaji + "-Textbox, Deutsch" %>
            </h4>
          </div>
          <div class="modal-body">
            <%= entry.textbox_de %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p class="def_de">✦ <%= entry.definition_de %></p>
  <% end %>

  <% if entry.textbox_en %>
    <p class="def_en">
    ♦︎ <%= entry.definition_en %>
    <button type="button" class="<%= odd ? "btn-odd" : "" %> btn btn-default btn-sm" data-toggle="modal" data-target="#entry<%= entry.id %>_textbox_en">
      <i class="fa fa-book"></i>
      read more
    </button>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="entry<%= entry.id %>_textbox_en" tabindex="-1" role="dialog" aria-labelledby="entry<%= entry.id%>_textbox_en_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="entry<%= entry.id%>_textbox_en_label">
              <%= entry.romaji + "-Textbox, English" %>
            </h4>
          </div>
          <div class="modal-body">
            <%= entry.textbox_en %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p class="def_en">♦︎ <%= entry.definition_en %></p>
  <% end %>
  <p class="def_fr"> <%= entry.definition_fr %></p>

  <% unless entry.references.empty? %>
    <p class="references">
    (<i class="fa fa-hand-o-right"></i> 
    <% entry.references.each_with_index do |ref, index| %>
      <% if ref.icon %>
        <img class="reference-icon" src="<%= ref.icon.icon.url %>" alt="<%= ref.icon.icon.path %>">
      <% end %>
      <%= link_to ref.name, ref.url, target: "_blank" %>
      <% unless index == entry.references.count - 1 %>
        ;
      <% end %>
    <% end %>
    )
    </p>
  <% end %>
</div>
