<div class='entry <%= odd ? "odd" : "" %>'>
  <% if entry.image %>
    <span class='svg_image'>
      <span class='svg'>
        <img src='<%= entry.image.url %>' type='image/svg' alt='<%= entry.image.name %>' />
      </span>
    </span>
  <% end %>
  <p class='hanging-indent'>
  <%= link_to edit_admin_entry_path(entry) do %>
    <span class='writing'>
      <ruby><rb><%= entry.writing %></rb><rp> (</rp><rt><%= entry.kana %></rt><rp> )</rp></ruby>
    </span>
  <% end %>
  <span class="romaji">
    <%= entry.romaji %>
  </span>
  </p>
  <p class="definitions">
  <span class="def_de"> <%= entry.definition_de %></span>
  <br>
  <span class="def_en"> <%= entry.definition_en %></span>
  <br>
  <span class="def_fr"> <%= entry.definition_fr %></span>
  </p>
</div>
