<div class='page-header'>
  <h1>Suchergebnisse <small><%= @total %> Treffer </small></h1>
</div>

<div class='row entries-container' data-page-nr='1' data-query='<%=@query%>' data-offset='<%= @offset %>'>
  <div class='col-md-12 entries'>
    <% @entries.each_with_index do |entry, index| %>
      <%= render partial: "entry", locals: { odd: index % 2 == 0, entry: entry } %>
    <% end %>
  </div>
</div>
<div class='row next-page-div'>
    <div class='col-md-6'>
    <% if @more %>
      <a class='btn btn-default next_page' href='<%= @next_page%>' >Weitere Ergebnisse</a>
    <% end %>
  </div>
</div>
