<!DOCTYPE html>
<html>
<head>
  <title>Wakoku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='container'>
      <div class="navbar-header">
        <a href='<%= root_path %>' class='navbar-brand'>WaKokuJT</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?(admin_entries_path) ? "active" : "" %>"><%= link_to "Alle Einträge", admin_entries_path %></li>
          <li class="<%= current_page?(admin_icons_path) ? "active" : "" %>"><%= link_to "Icons", admin_icons_path %></li>
        </ul>

        <%= form_tag admin_entries_path, method: :get, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: t("navbar.search") %>
          </div>
        <% end %>
        <% if current_admin %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Abmelden", admin_log_out_path %>
            </li>
          </ul>
          <p class="navbar-text navbar-right">
          <%= current_admin.email %>
          </p>
        <% end %>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="content">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= message %>
        </div>
      <% end %>
    <%= yield %>

    <hr>
    <%= render partial: "layouts/footer" %>
    </div>
  </div>
</body>
</html>
