<!DOCTYPE html>
<html>
<head>
  <title>Wakoku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='container'>
      <div class="navbar-header">
        <a href='<%= locale_root_path(I18n.locale) %>' class='navbar-brand'>WaKokuJT</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?(about_path) ? "active" : "" %>"><%= link_to t("navbar.about"), locale_about_path(I18n.locale) %></li>
        </ul>

        <form class="navbar-form navbar-right" role="search" action='<%= locale_root_path(I18n.locale) %>'>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="<%= t("navbar.search") %>">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
    <%= yield %>

    <hr>
    <footer class="footer">
      <p>Daten: &copy; <%= Time.now.year %> <a href="http://wadoku-ev.de">Wadoku e.V.</a> | Programmierung: &copy; <%= Time.now.year %> <a href="https://github.com/thebluber">Jiayi Zheng</a></p>
      <p>Code und Daten dieser Seite stehen unter offenen Lizenzen (CC und GPL). Beides findet sich auf <a href='https://github.com/Wadoku'>GitHub</a>.</p>
    </footer>
    </div>
  </div>
</body>
</html>
