<!DOCTYPE html>
<html>
<head>
  <title>WaKoKu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='container'>
      <div class="navbar-header">
        <a href='<%= root_path %>' class='navbar-brand'>WaKoKu</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= current_page?(about_path) ? "active" : "" %>"><%= link_to t("navbar.about"), about_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "English", change_locale_path(locale: 'en'), method: :post %></li>
          <li><%= link_to "Deutsch", change_locale_path(locale: 'de'), method: :post %></li>
          <li><%= link_to "日本語", change_locale_path(locale: 'jp'), method: :post %></li>
        </ul>
        <%= form_tag search_index_path, method: :get, class: "navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: t("navbar.search") %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="content">
    <%= yield %>

    <hr>
    <%= render partial: "layouts/footer" %>
    </div>
  </div>
</body>
</html>
